html,body {
    margin: 0;
    padding: 0;
    background-color: rgb(241, 216, 183);
    height: 100%;
}
#contentbar {
    background-color:orange;
    height: 50px;
    border: solid orange;
    
}
#rightside {
   display: flex;
    word-spacing: 5px;
    color: white;
    margin-right: 15px;
    justify-content: flex-end;
    margin-bottom: 50px;
    margin-top: -20px;
}
#leftside {
    display: flex;
    word-spacing: 5px;
    margin-top: 12px;
    color: white;
    margin-left: 15px;
    justify-content: flex-start;
}
ul#flex-container {
  list-style-type: none;
  margin:0; padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  
  
}
ul li{
   
    height:400px;
    padding-top: 45px;
    margin-left: 5px;
    width: 305px;
    border: solid orange;
    border-radius: 5px;
   
    background-color: white;
}
h1 {
    margin-left:
}
ul h1 {
    margin-left: 10px;
}
input {
    text-align: center;
    width: 100%;
   margin-top:260px;
   background-color: orange;
   color: white;
}